
.box {
    margin-top: 60px;
    width: 300px;
   height: 400px; 
    border: 1px solid #ccc;
     background-color: #fff;
    border-radius: 8px;
    padding: 15px;
     margin-left: 20px; 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: inline-block; 
    /* overflow: hidden; */
    
  }
  
  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .box h1 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
  }
  
  .box img {
    width: 80%;
    height: 150px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  .box p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    text-overflow: ellipsis; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }
  button{
    width: 100px;
    height: 40px;
    padding: 10px 10px;
    margin: 10px;
  }
  .addcard{
    background-color: green;
    color: white;

  }
  .byenow{
    background-color: rgb(226, 226, 24);
    color: black;

  }

  